.jumbotron {
  background: url("../images/homescreen.jpeg.jpg") no-repeat fixed;
  background-size: 100% 100%;
  overflow: hidden; }

.navbar-header {
  height: 100px; }
  .navbar-header .navbar-brand {
    height: 100%; }
    .navbar-header .navbar-brand img {
      height: 100%; }
  .navbar-header button .icon-bar {
    background-color: #ffffff; }

.nav-r {
  margin-right: 30px !important;
  margin-top: 25px !important; }
  .nav-r > li > a {
    background-color: transparent !important;
    color: #ffffff !important;
    font-weight: bolder; }
    .nav-r > li > a:hover {
      color: #17A88B !important; }
  .nav-r > li > ul {
    padding: 0 0;
    width: 150px; }
    .nav-r > li > ul a {
      line-height: 30px;
      background-color: #000000 !important;
      color: #ffffff !important; }
      .nav-r > li > ul a:hover {
        background-color: #17A88B !important; }
  .nav-r li.divider {
    margin: 0 0; }
  .nav-r .getTheApp {
    background-color: #17A88B; }
    .nav-r .getTheApp:hover {
      background-color: #ffffff; }

.btn-click {
  position: absolute;
  right: 0;
  top: 10px;
  width: 160px;
  background-color: #000000 !important; }

.banner {
  text-align: center;
  color: #ffffff; }
  .banner hr {
    background-color: #17A88B;
    height: 1px; }
  .banner h1 {
    margin-top: 80px;
    font-size: 48px !important; }
    @media screen and (max-width: 968px) {
      .banner h1 {
        margin-top: 20px;
        font-size: 28px !important; } }

.download {
  text-align: center;
  margin-top: 100px; }
  @media screen and (max-width: 800px) {
    .download {
      margin-top: 40px; } }
  .download a {
    display: inline-block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    background-color: #17A88B;
    color: #ffffff; }
    .download a:hover {
      background-color: transparent;
      color: #17A88B;
      border: 1px solid #17A88B;
      text-decoration: none; }

.ourApproach {
  padding: 80px; }
  .ourApproach h3 {
    text-align: center; }
  .ourApproach-title, .ourApproach-content {
    text-align: center; }
  .ourApproach-title {
    font-size: 18px; }
  .ourApproach-img {
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 20px auto;
    border-radius: 50%;
    border: 1px solid #17A88B;
    color: #17A88B; }
    .ourApproach-img a {
      color: #17A88B; }
      .ourApproach-img a:hover {
        color: #17A88B; }

.forCustomers {
  padding: 20px; }
  .forCustomers h3, .forCustomers h4 {
    text-align: center;
    line-height: 20px; }
  .forCustomers-imgArea {
    margin: 40px 0; }
    .forCustomers-imgArea img {
      width: 100%; }
  .forCustomers-connect {
    text-align: center; }

.showData {
  padding: 30px 0;
  text-align: center;
  background-color: #08ABA6;
  color: #ffffff; }
  .showData-num {
    font-size: 36px; }

.contact {
  height: 100px;
  line-height: 100px;
  background-color: #05585C;
  color: #ffffff; }
  @media screen and (min-width: 800px) {
    .contact {
      font-size: 24px;
      height: 150px;
      line-height: 150px; } }
  .contact a {
    padding: 3px 6px;
    border: 1px solid #06A8A6;
    border-radius: 5px;
    color: #06A8A6; }
    .contact a:hover {
      background-color: #06A8A6;
      color: #ffffff;
      text-decoration: none; }
    @media screen and (min-width: 800px) {
      .contact a {
        padding: 20px 40px; } }

.go-top {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #08ABA6;
  color: #ffffff; }
  .go-top:hover {
    background-color: #ffffff;
    color: #08ABA6; }

.footer-instruct {
  padding: 30px 0;
  background-color: #252525;
  color: #ffffff; }
  .footer-instruct img {
    width: 60%; }
  .footer-instruct a {
    color: #ffffff; }
    .footer-instruct a:hover {
      color: #ffffff;
      text-decoration: none; }
  .footer-instruct p {
    margin: 10px 0 !important; }
.footer-copy {
  height: 50px;
  line-height: 50px;
  background-color: #1C1C1C;
  color: #666666; }

/*# sourceMappingURL=homePage.css.map */
