<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/signUp.css">
  <link rel="stylesheet" href="../other/bootstrap/css/bootstrap.min.css">
  <script src="../other/bootstrap/js/jquery-3.2.1.min.js"></script>
  <script src="../other/bootstrap/js/bootstrap.min.js"></script>
  <script src="../other/bootstrap/js/validator.min.js" async defer></script>
</head>
<body>
<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <form action="#" method="get" id="form">
      <h3>Become a partner</h3>
      <div class="form-group has-feedback">
        <input type="text" class="account form-control" name="account" autofocus placeholder="Name" required
               data-error="用户名必须6-10位数字或字母" pattern="^[a-zA-Z_0-9]{6,10}$">
        <span class="glyphicon form-control-feedback"></span>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="account form-control" name="account" placeholder="Email" required data-error="必须是邮箱格式"
               pattern="^[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?$">
        <span class="glyphicon form-control-feedback"></span>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="pwdOne form-control" name="pwdOne" placeholder="Password" required
               pattern="^[0-9]{6,8}$" data-error="密码必须是6-8位数字，也不可为空">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="pwdTwo form-control" name="pwdTwo" placeholder="Confirm Password" required
               data-match=".pwdOne" data-match-error="两次输入的密码不一致">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group"><input type="submit" class="submit" value="Sign Up"></div>
      <hr>
      <div class="form-group sign clearfix">
        <span class="col-sm-8">Already have an account?</span>
        <a href="signIn.html" class="col-sm-4">Sign In</a>
      </div>
    </form>
  </div>
</div>
<script>
    $(document).ready(function () {
        $('#form').validator({
            feedback: {
                success: 'glyphicon-ok',
                error: 'glyphicon-remove'
            }
        });
    }).on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            console.log('不能提交');
            return false;
        } else {
            console.log('能提交');
            return true;
        }
    });
</script>
</body>
</html>